<div></div>
<div class="cv-con">
    <div class="box">
        <div class="box-header">
            dane podstawowe
        </div>
        <div class="box-content with-image">
            <div class="box-content-img"></div>
            <div class="box-content-text">
                Artur Gawlik
                <ul>
                    <li>24 yo programmer</li>
                    <li>livin in Crakow</li>
                    <li>artur.gawlik@icloud.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            doświadczenie
        </div>
        <div class="box-content">
            <div class="box-content-text">
                FUTURITI<small>(01.10.2017 - teraz)</small>
                <ul>
                    <li>intern developer <small>(10.2017 - 12.2017)</small></li>
                    <li>junior developer <small>(01.2018 - 12.2018)</small></li>
                    <li>developer <small>(01.2019 - teraz)</small></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            technologie
        </div>
        <div class="box-content">
            <div class="box-content-text">
                FRONTEND <small>(javascript, html, scss)</small>
                <ul>
                    <li>Angular 2+ <small>(typescript, node, jasmine, karma, Angular Material, PrimeNG, Bootstrap)</small></li>
                    <li>JQuery</li>
                </ul>
                <div class="space">BACKEND</div>
                <ul>
                    <li>.NET/.NET Core <small>(C#, ASP.NET, ASP.NET MVC, EF, Dapper ORM)</small></li>
                    <li>NestJS</li>
                    <li>Microsoft SQL Server</li>
                    <li>Apache Cassandra</li>
                    <li>Apache Solr</li>
                    <li>OpenFaaS</li>
                    <li>RabbitMQ</li>
                </ul>
                <div class="space">INNE</div>
                <ul>
                    <li>Google Firebase</li>
                    <li>Azure</li>
                    <li>Github</li>
                    <li>TFS</li>
                    <li>Figma</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            edukacja
        </div>
        <div class="box-content">
            <div class="box-content-text">
                INFORMATYKA STOSOWANA na Uniwersytet Ekonomiczny w Krakowie
                <ul>
                    <li>licencjat spec. Inżynieria oprogramowania <small>(2019)</small></li>
                </ul>
            </div>
        </div>
    </div>
</div>