<div class="cv-con">
    <div class="box">
        <div class="box-header">
            dane podstawowe
        </div>
        <div class="box-content with-image">
            <div class="box-content-img"></div>
            <div class="box-content-text">
                Artur Gawlik
                <ul>
                    <li>24 yo programmer</li>
                    <li>livin in Crakow</li>
                    <li>
                        <a href="mailto:artur.gawlik@icloud.com">artur.gawlik at icloud.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            doświadczenie
        </div>
        <div class="box-content">
            <div class="box-content-text">
                <div class="header-color">FUTURITI</div>
                <div class="close-to-top"><small>(01.10.2017 - teraz)</small></div>
                <ul>
                    <li>
                        intern developer
                        <div class="close-to-top"><small>(10.2017 - 12.2017)</small></div>
                    </li>
                    <li>
                        junior developer
                        <div class="close-to-top"><small>(01.2018 - 12.2018)</small></div>
                    </li>
                    <li>
                        developer
                        <div class="close-to-top"><small>(01.2019 - 03.2020)</small></div>
                    </li>
                    <li>
                        frontend specialist - data visualisation
                        <div class="close-to-top"><small>(04.2020 - teraz)</small></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            technologie
        </div>
        <div class="box-content">
            <div class="box-content-text">
                <div class="header-color">FRONTEND</div>
                <ul>
                    <!-- <li>Angular 2+ <small>(typescript, node, jasmine, karma, Angular Material, PrimeNG, Bootstrap)</small></li> -->
                    <li>
                        Angular 2+
                        <ul>
                            <small><li>typescript, html, scss</li></small>
                            <small><li>node</li></small>
                            <small><li>jasmine</li></small>
                            <small><li>karma</li></small>
                            <small><li>Angular Material</li></small>
                            <small><li>PrimeNG</li></small>
                            <small><li>...</li></small>
                        </ul>
                    </li>
                    <li>
                        JQuery
                        <ul>
                            <small><li>javascript</li></small>
                            <small><li>datatable</li></small>
                            <small><li>...</li></small>
                        </ul>
                    </li>
                    <li>
                      Inne
                      <ul>
                        <small><li>Bootstrap</li></small>
                        <small><li>Tailwindcss</li></small>
                        <small><li>...</li></small>
                      </ul>
                  </li>
                </ul>
                <div class="space header-color">BACKEND</div>
                <ul>
                    <!-- <li>.NET/.NET Core <small>(C#, ASP.NET, ASP.NET MVC, EF, Dapper ORM)</small></li> -->
                    <li>
                        .NET/.NET Core
                        <ul>
                            <small><li>C#</li></small>
                            <small><li>ASP.NET</li></small>
                            <small><li>ASP.NET MVC</li></small>
                            <small><li>EF</li></small>
                            <small><li>Dapper ORM</li></small>
                            <small><li>...</li></small>
                        </ul>
                    </li>
                    <li>NestJS</li>
                    <li>Microsoft SQL Server</li>
                    <li>Apache Cassandra</li>
                    <li>Apache Solr</li>
                    <li>OpenFaaS</li>
                    <li>RabbitMQ</li>
                </ul>
                <div class="space header-color">INNE</div>
                <ul>
                    <li>Google Firebase</li>
                    <li>Azure</li>
                    <li>Github</li>
                    <li>TFS</li>
                    <li>Figma</li>
                    <li>GraphQL</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            edukacja
        </div>
        <div class="box-content">
            <div class="box-content-text">
                INFORMATYKA STOSOWANA na Uniwersytet Ekonomiczny w Krakowie
                <ul>
                    <li>
                        lic. spec. Inż oprogramowania
                        <div class="close-to-top"><small>(2019)</small></div>
                    </li>
                    <li>
                      mgr
                      <div class="close-to-top"><small>(in progress)</small></div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>
