<div class="container" [class.open]="smallMenuOpened" (click)="toggleSmallMenuOpen()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<div class="nav-button-container" [class.open]="smallMenuOpened">
    <a class="btn btn-hf noselect" *ngIf="router.url !== '/'" [routerLink]="['/']">←</a>
    <div *ngIf="router.url === '/'"></div>
    <a class="btn btn-cv noselect" [routerLink]="['/cv']">CV</a>
    <a class="btn btn-gh noselect" href="https://github.com/arturgawlik" target="_blank">github</a>
    <a class="btn btn-tw noselect" href="https://twitter.com/gawlikU" target="_blank">twitter</a>
    <a class="btn btn-li noselect" href="https://www.linkedin.com/in/artur-gawlik-026552149"
        target="_blank">linkedin</a>
</div>
