<!-- <section class="desc">
    <h1>HI,</h1>
    my name is Artur Gawlik (hufcio) and I'm a fullstack software developer.
    I'm a absolvent of Applied Informatic with software engineering specialty in Cracow University of Economics.
    My main technologies are .NET + Angular.
    You can contact with me by writing on <a [href]="href">artur.gawlik at icloud.com</a>.
</section> -->

<section class="desc">
    <h1>Cześć,</h1>
    nazywam się Artur Gawlik<b>,</b> jestem fullstack developerem<b>.</b>
    Jestem absolwentem Informatyki Stosowanej ze specjalnością Inzynieria Oprogramowania na Uniwersytecie Ekonomicznym w Krakowie<b>.</b>
    Technologie w których najlepiej się czuję to Angular i .NET<b>.</b>
    Możesz się ze mną kontaktować poprzez maila <a [href]="href">artur.gawlik at icloud.com</a><b>.</b>
</section>
